body {
  background: radial-gradient(purple,indigo);
  position: fixed;
    font-family: 'Henny Penny', cursive;
  font-size: 18px;
}

a{
    animation: blink1 3s linear infinite;
}

header h1 {
  color: indigo;
    font-family: 'Henny Penny', cursive;
    font-weight: 500;
}

.new_post{
    color: orange;
    background: black;
    margin-left: 75%;
    width: 15.4%;
    height: 60%;
    font-size: 190%;
    font-family: 'Henny Penny', cursive;
    margin-top: -6%;
    border-radius: 25rem 25rem 25rem;
    padding-left: 4%;
}

.out_in_up {
    color: white;
    background: black;
    margin-left: 75%;
    width: 15.4%;
    height: 60%;
    font-size: 130%;
    font-family: 'Henny Penny', cursive;
    border-radius: 25rem 25rem 25rem;
    padding-left: 10%;
}

.nav-left {

    font-size: 50px;
    margin-right: auto;
    padding-right: 70rem;
}

.nav-right {
  display: flex;
  padding-top: 2rem;
}

.f1{
    background-color: indigo;
    width: 300px;
    height: 50px;
    position: relative;
    transform: rotate(45deg);
    top: 18px;
    left: -110px;
    z-index: -1;
}
.w1{
    width: 30px;
    height: 25px;
    background-color: white;
    transform: rotate(91deg);
    position: absolute;
    top: 11px;
    left: 260px;
}
.w2{
    width: 30px;
    height: 25px;
    background-color: white;
    transform: rotate(91deg);
    position: absolute;
    top: 11px;
    left: 220px;
}
.w3{
    width: 30px;
    height: 25px;
    background-color: white;
    transform: rotate(91deg);
    position: absolute;
    top: 11px;
    left: 180px;
}
.w4{
    width: 30px;
    height: 25px;
    background-color: white;
    transform: rotate(91deg);
    position: absolute;
    top: 11px;
    left: 90px;
}
.w5{
    width: 30px;
    height: 25px;
    background-color: white;
    transform: rotate(91deg);
    position: absolute;
    top: 11px;
    left: 50px;
}
.w6{
    width: 30px;
    height: 25px;
    background-color: white;
    transform: rotate(91deg);
    position: absolute;
    top: 11px;
    left: 10px;
}
.f2{
    animation: blink1 3s linear infinite;
    background-color: indigo;
    width: 300px;
    height: 50px;
    position: absolute;
    transform: rotate(135deg);
    top: 10px;
    left: -110px;
    z-index: -1;
}
.wf1{
    width: 30px;
    height: 25px;
    background-color: aliceblue;
    transform: rotate(91deg);
    position: fixed;
    top: 13px;
    left: 260px;
}
.wf2{
    width: 30px;
    height: 25px;
    background-color: aliceblue;
    transform: rotate(91deg);
    position: absolute;
    top: 13px;
    left: 220px;
}
.wf3{
    width: 30px;
    height: 25px;
    background-color: aliceblue;
    transform: rotate(91deg);
    position: absolute;
    top: 13px;
    left: 180px;
}
.wf4{
    width: 30px;
    height: 25px;
    background-color: aliceblue;
    transform: rotate(91deg);
    position: absolute;
    top: 13px;
    left: 90px;
}
.wf5{
    width: 30px;
    height: 25px;
    background-color: aliceblue;
    transform: rotate(91deg);
    position: absolute;
    top: 13px;
    left: 50px;
}
.wf6{
    width: 30px;
    height: 25px;
    background-color: aliceblue;
    transform: rotate(91deg);
    position: absolute;
    top: 13px;
    left: 10px;
}
.circle{
    position: relative;
    top: 40.5%;
    left: 54.4%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: indigo;
    animation: spin 1s linear infinite;
    z-index: -1;
}

@keyframes blink1 {

    0% { color: yellow; }
    20% { color: deepskyblue; }
    40% { color: indigo; }
    60% { color: orchid}
    80% { color: chocolate}
    100% { color: aliceblue}
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

