{% load static %}
<html>
  <head>
    <title>Django blog</title>
      <link href="https://fonts.googleapis.com/css2?family=Syne+Tactile&family=Turret+Road:wght@500&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  </head>
  <body>
<div>
      <header>
        <div class="nav-left">
         <a href="{% url 'home' %}">Halloween🎃</a>
        </div>
        <div class="nav-right">
          <section class="new_post"><a href="{% url 'post_new' %}"> New Post</a></section>
        </div>
      </header>

      {% block content %}
      {% endblock content %}
    </div>

{#  <div class="base"></div>#}
{#            <div class="mill">#}
{#                <div class="">#}
{#                        <div class="circle">#}
{#                            <div class="f1">#}
{#                                <div window1>#}
{#                                    <div class="w1"></div>#}
{#                                    <div class="w2"></div>#}
{#                                    <div class="w3"></div>#}
{#                                    <div class="w4"></div>#}
{#                                    <div class="w5"></div>#}
{#                                    <div class="w6"></div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="f2">#}
{#                                <div class="window2">#}
{#                                    <div class="wf1"></div>#}
{#                                    <div class="wf2"></div>#}
{#                                    <div class="wf3"></div>#}
{#                                    <div class="wf4"></div>#}
{#                                    <div class="wf5"></div>#}
{#                                    <div class="wf6"></div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
  </body>
</html>