{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
  Hi, {{ user.username }}!
     if you want to recommend a movie for Halloween, just click on "New Post", then write a title and a short description of the movie.

    {%  for post in object_list %}
        <div class="post-entry">
            <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
            <h5><a href="{% url 'user-profile' post.author.pk%}" >(author: {{ post.author }})</a></h5>

            <p>{{ post.body }}</p>
        </div>
    {%  endfor %}

    <p><a href="{% url 'password_change'%}">Change password</a></p>
  <p><a href="{% url 'logout' %}">Log Out</a></p>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
  <a href="{% url 'signup' %}">Sign Up</a>

{% endif %}

{% endblock content %}